.A1{
    margin-top: 3rem;
    width: 100vw;
    padding: 0 8% 0 5%;
}


.txt2{
    margin-top: 1rem;
    width: 49rem;
    text-align: justify;
}

.gmbar{
    margin-top: 0.5rem;
    width: 40rem;
    height: 30rem;
    border-radius: 10px;
}

.scroll{
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}

.scroll::-webkit-scrollbar{
    display: none;
}

.koper{
    width: 50rem;
}

@media screen and (max-width: 800px) {
    .koper{
        width: 100%;
    }

    .gmbar{
        width: 100%;
    }

    .txt2{
        width: 100%;
    }
}